body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.header {
    background-color: #f7f7f7; /* Blue color similar to iOS */
    /*color: #333;*/
    padding: 10px;
    /*text-align: center;*/
    box-shadow: 0px 2px 4px rgba(0,0,0,0.0); /* Shadow for header */
    border-bottom: 1px solid #ddd; /* Gray border on top */
}

.title {
    text-align: left;
    margin-bottom: 10px;
}

.title h1, .title h2 {
    margin: 0;
    color: #fff;
}

.hr {
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.5); /* Lighter line */
    margin: 10px 0;
}

.content {
    padding: 20px;
}

.dock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

    .app_cell_left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .appicon {
        border-radius: 15px;
        background-color: #000;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .app_cell_meta {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.2rem;
}

    .appname,
    .appsection {
        width: 170px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: black;
         width: 150px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
    }

    .appsection {
        color: black;
        opacity: .6;
        font-size: .900rem;
        width: 161px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.appget {
    background-color: #3478F6;
    border-radius: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 67px;
    height: 30px;
    object-fit: cover;
    color: white;
    align-items: center;
}

.appget a {
    margin-bottom: 2px;
}

.getbtn {
    background-color: transparent;
    border: none;
    font-weight: 750;
    color: white;
}

/*.subcontent {
    padding: 10px;
}*/

.navbar {
    background-color: #f7f7f7; /* Light gray color */
    color: #333; /* Dark gray text color */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ddd; /* Gray border on top */
}

.navbar a {
    color: #007AFF; /* Blue color for links */
    text-decoration: none;
    margin: 0 10px;

}

.add_to_homescreen {
  background-color: #f0f0f0;
  padding: 20px;
  display: none;
  border-radius: 20px;
  text-align: center;
  position: fixed; /* Position fixée pour qu'elle reste au milieu même en faisant défiler la page */
  top: 50%; /* Alignement vertical au milieu de la fenêtre */
  left: 50%; /* Alignement horizontal au milieu de la fenêtre */
  transform: translate(-50%, -50%); /* Décalage de moitié de la largeur et de la hauteur de l'élément pour le placer au milieu */
  z-index: 9999; /* Pour s'assurer que la pop-up apparaît par-dessus le reste du contenu */
}

.add_to_homescreen_icon {
  background-image: url(https://raw.githubusercontent.com/Enzo-zsh/iWebAppStore-legacy/main/app.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  border: none;
  margin-bottom: 15px;
}

.add_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.web_btn {
  padding: 20px;
  border: 2px black solid;
  width: 140px;
  border-radius: 20px;
}

.web_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  cursor: pointer;
}
