body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.header {
    background-color: #f7f7f7; /* Blue color similar to iOS */
    /*color: #333;*/
    padding: 10px;
    /*text-align: center;*/
    box-shadow: 0px 2px 4px rgba(0,0,0,0.0); /* Shadow for header */
    border-bottom: 1px solid #ddd; /* Gray border on top */
}

.title {
    text-align: left;
    margin-bottom: 10px;
}

.title h1, .title h2 {
    margin: 0;
    color: #fff;
}

.hr {
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.5); /* Lighter line */
    margin: 10px 0;
}

.content {
    padding: 20px;
}

/*.subcontent {
    padding: 10px;
}*/

.navbar {
    background-color: #f7f7f7; /* Light gray color */
    color: #333; /* Dark gray text color */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ddd; /* Gray border on top */
}

.navbar a {
    color: #007AFF; /* Blue color for links */
    text-decoration: none;
    margin: 0 10px;

}

